[alias]
  b = branch
  st = status
  co = checkout
  ci = commit
  cl = clone
  rb = rebase
  rbi = rebase -i
  cp = cherry-pick
  stashl = stash list
[user]
  name = jkischkel
  email = jk@soundcloud.com
[color]
  ui = auto
[push]
  # 'git push' will push the current branch to its tracking branch
  # the usual default is to push all branches
  default = current
