[alias]
  b = branch
  st = status -sb
  co = checkout
  ci = commit
  cl = clone
  rb = rebase
  rbi = rebase -i
  cp = cherry-pick
  stashl = stash list
  pl = pull --rebase --prune
  glog = log --graph --stat --all --decorate=full
  slog = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[user]
  name = jkischkel
  email = jk@soundcloud.com
[color]
  ui = auto
[push]
  default = current
